.movie-card {
  max-width: 364px;
  background-color: #222222;
}

.movie-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__container {
  margin: 14px 0 14px 14px;
}

.movie-card__title {
  margin: 0 0 9px;
  width: 280px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__duration {
  margin: 0;
  color: #8B8B8B;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.movie-card__favorite-button {
  padding: 0;
  margin-right: 14px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease, background-image 0.2s ease;
}

.movie-card__favorite-button_inactive {
  background-image: url('../../images/button-favorite_inactive.svg');
}

.movie-card__favorite-button_delete {
  background-image: url('../../images/button-delete-favorite.svg');
}

.movie-card__favorite-button_active {
  background-image: url('../../images/button-favorite_active.svg');
}

.movie-card__image {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 203px;
  object-fit: cover;
  display: flex;
}

.movie-card__favorite-button:hover {
  opacity: 0.7;
}

.movie-card__favorite-button_active:hover {
  background-image: url('../../images/button-delete-favorite.svg');
}
